<%- include('partials/header'); -%>

<form action="/new-comp">
  <h2>Register a competition</h2>
  <label for="name">Competition Name</label>
  <input type="text" name="name" required />
  <div class="name error"></div>
  <label for="city">City</label>
  <input type="text" name="city" required />
  <div class="city error"></div>
  <label for="country">Country</label>
  <input type="text" name="country" required />
  <div class="country error"></div>
  <label for="price">Price</label>
  <input type="number" name="price" required />
  <div class="price error"></div>
  <label for="currency">Currency</label>
  <input type="text" name="currency" required />
  <div class="currency error"></div>
  <label for="date">Competition Date</label>
  <input type="date" name="date" required />
  <div class="date error"></div>
  <button>Register the competition</button>
</form>

<%- include('partials/footer'); -%>

<script>
  // storing data from the form
  const form = document.querySelector('form')
  //storing below the different errors
  const nameError = document.querySelector('.name.error')
  const cityError = document.querySelector('.city.error')
  const countryError = document.querySelector('.country.error')
  const priceError = document.querySelector('.price.error')
  const currencyError = document.querySelector('.currency.error')
  const dateError = document.querySelector('.date.error')

  form.addEventListener('submit', async (e) => {
    e.preventDefault()
    //reset errors
    nameError.textContent = ''
    cityError.textContent = ''
    countryError.textContent = ''
    priceError.textContent = ''
    currencyError.textContent = ''
    dateError.textContent = ''
    // get values
    const name = form.name.value
    const city = form.city.value
    const country = form.country.value
    const price = form.price.value
    const currency = form.currency.value
    const date = form.date.value
    try{
      // will have to add a page with confirmation message
      // so user knows it succeded
      const res = await fetch('/new-comp', {
        method: 'POST',
        body: JSON.stringify({name, city, country, price, currency, date}),
        headers: {'Content-Type': 'application/json'}
        })
      const data= await res.json()
      console.log(res.json)
      console.log(data)
      if (data.errors) {
        nameError.textContent= data.errors.name
        cityError.textContent = data.errors.city
        countryError.textContent = data.errors.country
        priceError.textContent = data.errors.price
        currencyError.textContent = data.errors.currency
        dateError.textContent = data.errors.date
      }
    }catch (err) {
      console.log(err)
    }

  })
</script>